/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap')

/* Styles for the body */

body {
	font-family: Lato, Oswald, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #85AC70;
    color: #C7D9BE;
}

.resume-main {
	background-color: #A8C49A;
	color: #527141;
}

.resume-aside {
	background-color: #C7D9BE;
	color: #527141;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #527141;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.resume-aside {
	flex: 1 1 250px;
	background-color: #282840;
	color: #f0f0f0;
	display: flex;
	flex-flow: column;
}

.resume-aside a {
	color: #c0c0ff;
}

.resume-aside a:hover {
	opacity: .8;
}

.language-item {
	display: flex;
	margin: .5em 0;
}

.language-name {
	width: 50%;
}

.language-level {
	position: relative;
	font-size: .8em;
	font-weight: 600;
	width: 50%;
	height:  1.6em;
	text-align: center;
	border: 2px solid #fffff0;
	color: #000000;
	text-shadow: 1px 1px 2px #ffffff;
}

.language-level > * {
	position: absolute;
	left: 0;
	top:  0;
	height: 100%;
}

.language-progress {
	background-color: #85AC70;
}

.language-level h6 {
	width: 100%;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}

